:root{

  --bg:#050816;

  --card:#161b2e;

  --card2:#1c2137;

  --purple:#6d5dfc;

  --purpleHover:#7c6cff;

  --text:#ffffff;

  --muted:#8b90a7;

  --border:#2a3150;

  --green:#22c55e;

  --orange:#f59e0b;

  --red:#ef4444;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter',sans-serif;
  background:var(--bg);
  color:white;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  font-family:'Inter',sans-serif;
  cursor:pointer;
}

/* NAVBAR */

.navbar{

  height:100px;

  background:#0a0f1f;

  border-bottom:1px solid #1f2940;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:0 50px;

  position:sticky;

  top:0;

  z-index:100;
}

.logo{

  font-size:38px;

  font-weight:800;

  display:flex;

  align-items:center;

  gap:12px;
}
/* LOGO IMAGE */

.login-logo{

  display:flex;

  justify-content:center;

  align-items:center;

  margin-bottom:20px;
}
.logo-image{

  width:55px;

  height:55px;

  object-fit:contain;

  filter:
    drop-shadow(0px 0px 10px #6d5dfc);
}

.nav-links{

  display:flex;

  gap:20px;

  align-items:center;
}

.nav-links-center{

  display:flex;

  gap:20px;

  align-items:center;

  flex:1;

  justify-content:center;
}

.nav-links a{

  color:var(--muted);

  padding:16px 26px;

  border-radius:20px;

  transition:0.4s ease;

  font-size:18px;

  font-weight:600;

  display:flex;

  align-items:center;

  gap:10px;
}

.nav-icon{

  font-size:22px;
}

.nav-links a:hover{

  background:var(--card);

  color:white;

  transform:translateY(-2px);
}

.active-link{

  background:linear-gradient(135deg, var(--purple), var(--purpleHover));

  color:white !important;

  box-shadow:0 8px 24px rgba(109, 93, 252, 0.4);

  font-weight:700;

  transform:translateY(-2px);
}

.logout-btn{

  background:transparent;

  border:1.5px solid var(--border);

  color:white;

  padding:16px 26px;

  border-radius:20px;

  font-size:17px;

  font-weight:600;

  transition:0.3s ease;
}

.logout-btn:hover{

  background:var(--card);
}

.nav-right{

  display:flex;

  align-items:center;

  gap:20px;
}

.user-name{

  color:var(--muted);

  font-size:17px;

  font-weight:600;
}

/* LOGIN */

.login-page{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:linear-gradient(
    90deg,
    #04111d,
    #0c1022
  );
}

.login-card{

  width:480px;

  background:var(--card);

  padding:50px;

  border-radius:32px;

  border:1.5px solid var(--border);
}

.logo-circle{

  width:80px;

  height:80px;

  border-radius:50%;

  

  display:flex;

  justify-content:center;

  align-items:center;

  margin:auto;

  margin-bottom:25px;

  font-size:36px;
}

.login-card h1{

  font-family:'Inter',sans-serif;
  

  font-size:52px;

  font-weight:900;

  letter-spacing:-1px;

  color:white;

  text-align:center;

  margin-bottom:15px;
}

.login-card p{

  text-align:center;

  color:var(--muted);

  margin-bottom:30px;

  font-size:18px;
}

.login-card label{

  color:var(--muted);

  font-size:17px;

  margin-bottom:12px;

  display:block;

  font-weight:600;
}

.login-card input{

  width:100%;

  background:#1c2137;

  border:1.5px solid #2a3150;

  padding:18px;

  border-radius:24px;

  margin-bottom:25px;

  color:white;

  font-size:18px;

  height:58px;
}

.password-box{

  position:relative;
}

.password-box span{

  position:absolute;

  right:20px;

  top:22px;

  cursor:pointer;

  font-size:18px;
}

.login-btn{

  width:100%;

  background:var(--purple);

  color:white;

  border:none;

  padding:20px;

  border-radius:24px;

  font-size:18px;

  font-weight:700;

  margin-top:15px;

  transition:0.3s ease;
}

.login-btn:hover{

  background:var(--purpleHover);
}

.error-message{

  margin-top:20px;

  color:#ef4444;

  text-align:center;

  font-size:16px;

  font-weight:600;
}

/* HOME */

.home{

  padding:110px;
}

/* WELCOME */

.welcome-card{

  background:linear-gradient(
    90deg,
    #1c2137,
    #161b2e
  );

  padding:45px;

  border-radius:28px;

  border:1.5px solid #3b3bff;

  margin-bottom:40px;
}

.welcome-card h1{

  font-size:56px;

  margin-bottom:15px;

  font-weight:800;
}

.welcome-card span{

  color:var(--purple);
}

.welcome-card p{

  color:var(--muted);

  font-size:22px;
}

/* STATS */

.stats-grid{

  display:grid;

  grid-template-columns:repeat(
    auto-fit,
    minmax(260px,1fr)
  );

  gap:25px;

  margin-bottom:40px;
}

.stat-card{

  background:var(--card);

  padding:40px;

  border-radius:28px;

  border:1.5px solid var(--border);
}

.stat-card h1{

  font-size:64px;

  font-weight:900;
}

.stat-card p{

  color:var(--muted);

  margin-top:12px;

  font-size:18px;

  font-weight:500;
}

/* SEARCH */

.search-filter{

  display:flex;

  justify-content:space-between;

  gap:25px;

  margin-bottom:40px;
}

.search-box{

  flex:1;
}

.search-box input{

  width:100%;

  background:var(--card);

  border:1.5px solid var(--border);

  padding:22px;

  border-radius:24px;

  color:white;

  font-size:18px;
}

.filter-buttons{

  display:flex;

  gap:12px;
}

.filter-buttons button{

  background:var(--card);

  border:none;

  color:var(--muted);

  padding:16px 24px;

  border-radius:20px;

  font-size:16px;

  font-weight:600;
}

.filter-buttons button:hover{

  background:var(--purple);

  color:white;
}

/* TASK GRID */

.task-grid{

  display:grid;

  grid-template-columns:repeat(3,1fr);

  gap:30px;
}

/* TASK CARD */

.task-card{

  background:var(--card);

  border:1.5px solid var(--border);

  border-radius:28px;

  padding:30px;

  transition:0.3s;
}

.task-card:hover{

  transform:translateY(-5px);

  border-color:var(--purple);
}

.task-id{

  color:var(--muted);

  margin-bottom:25px;

  font-size:16px;

  font-weight:500;
}

.task-title{

  font-size:32px;

  margin-bottom:25px;

  font-weight:700;
}

.task-bottom{

  margin-bottom:25px;
}

.status{

  width:100%;

  padding:16px;

  border-radius:20px;

  border:none;

  color:white;

  font-size:16px;

  font-weight:600;
}

.inprogress{

  background:#3a2c12;
}

.completed{

  background:#10271a;
}

.hold{

  background:#2b1520;
}

.assigned{

  color:var(--muted);

  margin-bottom:25px;

  font-size:17px;

  font-weight:500;
}

/* ACTION BUTTONS */

.task-actions{

  display:flex;

  gap:15px;
}

.edit-btn{

  flex:1;

  background:#232842;

  color:white;

  border:none;

  padding:14px;

  border-radius:20px;

  font-size:16px;

  font-weight:600;

  transition:0.3s ease;
}

.edit-btn:hover{

  background:#3a3f5a;

  transform:translateY(-2px);
}

.delete-btn{

  flex:1;

  background:#3a1212;

  color:#ef4444;

  border:none;

  padding:14px;

  border-radius:20px;

  font-size:16px;

  font-weight:600;

  transition:0.3s ease;
}

.delete-btn:hover{

  background:#5a1818;

  transform:translateY(-2px);
}

/* ADD TASK */

.add-task-container{

  display:flex;

  justify-content:center;

  padding:60px;
}

.add-task-card{

  width:800px;

  background:var(--card);

  padding:45px;

  border-radius:32px;

  border:1.5px solid var(--border);
}

.add-task-card h1{

  margin-bottom:35px;

  font-size:44px;

  font-weight:800;
}

.add-task-card label{

  display:block;

  margin-bottom:12px;

  color:var(--muted);

  font-size:18px;

  font-weight:600;
}

.add-task-card input,
.add-task-card select{

  width:100%;

  background:var(--card2);

  border:1.5px solid var(--border);

  padding:20px;

  border-radius:24px;

  margin-bottom:28px;

  color:white;

  font-size:18px;
}

/* LOADER */

.loader-container{

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  padding:80px;
}

.loader{

  width:75px;

  height:75px;

  border:8px solid #2a3150;

  border-top:8px solid var(--purple);

  border-radius:50%;

  animation:spin 1s linear infinite;

  margin-bottom:25px;
}

@keyframes spin{

  0%{
    transform:rotate(0deg);
  }

  100%{
    transform:rotate(360deg);
  }
}

/* FOOTER */

.footer{

  margin-top:60px;

  background:#0a0f1f;

  border-top:1px solid #1f2940;

  padding:40px;

  text-align:center;
}

.footer h3{

  margin-bottom:12px;

  font-size:20px;

  font-weight:700;
}

.footer p{

  color:var(--muted);

  font-size:17px;
}

/* RESPONSIVE */

@media(max-width:768px){

  .navbar{

    flex-direction:column;

    height:auto;

    gap:20px;

    padding:20px;
  }

  .nav-links{

    flex-wrap:wrap;

    justify-content:center;
  }

  .search-filter{

    flex-direction:column;
  }

  .welcome-card h1{

    font-size:30px;
  }

  .login-card{

    width:90%;
  }

  .add-task-card{

    width:95%;
  }
}
/* NAVBAR LOGO */

.navbar-logo{

  width:34px;

  height:34px;

  object-fit:contain;

  filter:
    drop-shadow(0px 0px 8px #6d5dfc);
}

.logo h2{

  font-size:28px;

  font-weight:800;

  color:white;

  letter-spacing:-1px;
}