:root{

  --bg:#050816;

  --card:#161b2e;

  --card2:#1c2137;

  --purple:#6d5dfc;

  --purpleHover:#7c6cff;

  --text:#ffffff;

  --muted:#8b90a7;

  --border:#2a3150;

  --green:#22c55e;

  --orange:#f59e0b;

  --red:#ef4444;
}

*{

  margin:0;

  padding:0;

  box-sizing:border-box;
}

body{

  font-family:'Inter',sans-serif;

  background:var(--bg);

  color:white;

  overflow-x:hidden;
}

a{

  text-decoration:none;

  color:inherit;
}

button{

  font-family:'Inter',sans-serif;

  cursor:pointer;
}

/* NAVBAR */

.navbar{

  height:78px;

  background:#0a0f1f;

  border-bottom:1px solid #1f2940;

  display:flex;

  align-items:center;

  justify-content:space-between;

  padding:0 38px;

  position:sticky;

  top:0;

  z-index:100;

  position:relative;
}

/* LOGO */

.logo{

  display:flex;

  align-items:center;
}

.logo h2{

  font-size:34px;

  font-weight:800;

  color:white;

  letter-spacing:-1px;
}

/* CENTER NAV */

.nav-links-center{

  position:absolute;

  left:50%;

  transform:translateX(-50%);

  display:flex;

  align-items:center;

  gap:16px;
}

/* NAV BUTTONS */

.nav-links-center a{

  height:46px;

  padding:0 24px;

  border-radius:12px;

  border:1px solid transparent;

  display:flex;

  align-items:center;

  justify-content:center;

  gap:8px;

  background:transparent;

  color:#9aa3c7;

  font-size:15px;

  font-weight:600;

  text-decoration:none;

  transition:0.3s ease;

  white-space:nowrap;
}

/* HOVER */

.nav-links-center a:hover{

  background:#1c2137;

  border:1px solid #6d5dfc;

  color:white;

  box-shadow:
    0px 0px 14px rgba(109,93,252,0.16);
}

/* ACTIVE BUTTON */

.nav-links-center .active-link{

  background:#1c2137;

  border:1px solid #6d5dfc;

  color:white !important;

  box-shadow:
    0px 0px 16px rgba(109,93,252,0.22);
}

/* NAV ICON */

.nav-icon{

  font-size:14px;
}

/* RIGHT SECTION */

.nav-right{

  display:flex;

  align-items:center;

  gap:18px;
}

/* USER NAME */

.user-name{

  color:#9aa3c7;

  font-size:15px;

  font-weight:600;
}

/* LOGOUT */

.logout-btn{

  height:44px;

  padding:0 22px;

  border-radius:12px;

  border:1px solid #2d3558;

  background:transparent;

  color:#9aa3c7;

  font-size:15px;

  font-weight:600;

  transition:0.3s ease;
}

.logout-btn:hover{

  background:#1c2137;

  border-color:#6d5dfc;

  color:white;

  box-shadow:
    0px 0px 14px rgba(109,93,252,0.16);
}

/* LOGIN */

.login-page{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:linear-gradient(
    90deg,
    #04111d,
    #0c1022
  );
}

.login-card{

  width:470px;

  background:#171c2f;

  padding:35px;

  border-radius:28px;

  border:1px solid #2a3150;
}

.login-logo{

  display:flex;

  justify-content:center;

  margin-bottom:20px;
}

.logo-image{

  width:58px;

  height:58px;

  object-fit:contain;

  filter:
    drop-shadow(0px 0px 10px #6d5dfc);
}

.login-card h1{

  text-align:center;

  font-size:52px;

  font-weight:800;

  letter-spacing:-2px;

  margin-bottom:10px;
}

.login-card p{

  text-align:center;

  color:#8b90a7;

  font-size:18px;

  margin-bottom:30px;
}

.login-card label{

  display:block;

  margin-bottom:12px;

  color:#8b90a7;

  font-size:15px;

  font-weight:600;
}

.login-card input{

  width:100%;

  height:58px;

  background:#1d2238;

  border:1px solid #30385d;

  border-radius:16px;

  padding:18px;

  color:white;

  font-size:17px;

  margin-bottom:24px;
}

.password-box{

  position:relative;
}

.password-box span{

  position:absolute;

  right:18px;

  top:18px;

  cursor:pointer;
}

.login-btn{

  width:100%;

  background:#6d5dfc;

  border:none;

  color:white;

  padding:18px;

  border-radius:16px;

  font-size:18px;

  font-weight:700;

  transition:0.3s;
}

.login-btn:hover{

  background:#7c6cff;
}

.error-message{

  margin-top:18px;

  color:#ef4444;

  text-align:center;

  font-size:15px;

  font-weight:600;
}

/* HOME */

.home{

  padding:26px;
}

/* WELCOME */

.welcome-card{

  background:linear-gradient(
    90deg,
    #1c2137,
    #171c2f
  );

  padding:38px 40px;

  border-radius:22px;

  border:1px solid #3b3bff;

  margin-bottom:28px;
}

.welcome-card h1{

  font-size:48px;

  font-weight:800;

  margin-bottom:10px;

  letter-spacing:-1px;
}

.welcome-card span{

  color:#6d5dfc;
}

.welcome-card p{

  color:#8b90a7;

  font-size:20px;
}

/* STATS */

.stats-grid{

  display:grid;

  grid-template-columns:repeat(
    auto-fit,
    minmax(250px,1fr)
  );

  gap:22px;

  margin-bottom:35px;
}

.stat-card{

  background:#171c2f;

  border:1px solid #2d3560;

  border-radius:18px;

  padding:30px;

  min-height:145px;

  transition:0.3s ease;
}

.stat-card:hover{

  transform:translateY(-3px);

  border-color:#6d5dfc;
}

.stat-card h1{

  font-size:58px;

  font-weight:900;
}

.stat-card p{

  color:#8b90a7;

  margin-top:10px;

  font-size:17px;
}

/* SEARCH */

.search-filter{

  display:flex;

  align-items:center;

  justify-content:space-between;

  gap:18px;

  margin-bottom:34px;
}

.search-box{

  flex:1;

  position:relative;
}

.search-box input{

  width:100%;

  height:58px;

  background:#1a2035;

  border:1px solid #2c3456;

  border-radius:16px;

  padding:0 22px 0 52px;

  color:white;

  font-size:15px;

  outline:none;

  transition:0.3s ease;
}

.search-box input:focus{

  border-color:#6d5dfc;

  box-shadow:
    0px 0px 14px rgba(109,93,252,0.22);
}

.search-box input::placeholder{

  color:#7e86a8;
}

.search-icon{

  position:absolute;

  left:18px;

  top:50%;

  transform:translateY(-50%);

  color:#7e86a8;

  font-size:16px;

  pointer-events:none;
}

.filter-buttons{

  display:flex;

  gap:10px;
}

.filter-buttons button{

  background:#1a2035;

  border:1px solid #2c3456;

  color:#9aa3c7;

  padding:14px 22px;

  border-radius:14px;

  font-size:14px;

  font-weight:600;

  transition:0.3s ease;
}

.filter-buttons button:hover{

  background:#6d5dfc;

  border-color:#6d5dfc;

  color:white;
}

.filter-buttons .active-filter{

  background:#6d5dfc;

  border-color:#6d5dfc;

  color:white;

  box-shadow:
    0px 0px 18px rgba(109,93,252,0.35);
}

/* TASK INFO */

.tasks-info{

  color:#7f88ad;

  font-size:15px;

  font-weight:500;

  margin-bottom:24px;

  margin-top:-6px;

  padding-left:4px;

  letter-spacing:0.2px;
}

/* TASK GRID */

.task-grid{

  display:grid;

  grid-template-columns:repeat(3,1fr);

  gap:24px;
}

/* TASK CARD */

.task-card{

  background:#171c2f;

  border:1.5px solid #2d3560;

  border-radius:18px;

  padding:22px;

  min-height:240px;

  display:flex;

  flex-direction:column;

  justify-content:space-between;

  transition:0.3s ease;

  box-shadow:
    0px 4px 20px rgba(0,0,0,0.25);
}

.task-card:hover{

  transform:translateY(-4px);

  border-color:#6d5dfc;

  box-shadow:
    0px 10px 30px rgba(109,93,252,0.15);
}

.task-id{

  color:#7f88ad;

  font-size:15px;

  margin-bottom:20px;

  font-weight:600;
}

.task-title{

  font-size:30px;

  font-weight:700;

  color:#d7dcef;

  line-height:1.5;

  margin-bottom:30px;

  word-break:break-word;

  letter-spacing:-0.5px;
}

.task-status-assigned{

  display:flex;

  align-items:center;

  gap:14px;

  margin-bottom:28px;

  flex-wrap:wrap;
}

.status-badge{

  padding:11px 20px;

  border-radius:999px;

  font-size:15px;

  font-weight:700;
}

.inprogress{

  background:#3a2b10;

  color:#fbbf24;
}

.completed{

  background:#0f2d1e;

  color:#4ade80;
}

.hold{

  background:#331520;

  color:#fb7185;
}

.assigned-to{

  color:#8f97ba;

  font-size:16px;

  font-weight:500;
}

.task-actions{

  display:flex;

  gap:12px;
}

.edit-btn{

  flex:1;

  background:#242b45;

  border:1px solid #3b456a;

  color:white;

  padding:12px;

  border-radius:12px;

  font-size:15px;

  font-weight:600;

  transition:0.3s ease;
}

.edit-btn:hover{

  background:#30395a;

  transform:translateY(-2px);
}

.delete-btn{

  flex:1;

  background:#3d1719;

  border:1px solid #5d2328;

  color:#ff5b61;

  padding:12px;

  border-radius:12px;

  font-size:15px;

  font-weight:600;

  transition:0.3s ease;
}

.delete-btn:hover{

  background:#562025;

  transform:translateY(-2px);
}

/* PAGINATION */

.pagination{

  display:flex;

  justify-content:center;

  align-items:center;

  gap:12px;

  margin-top:45px;

  margin-bottom:20px;

  flex-wrap:wrap;
}

.pagination-btn{

  width:42px;

  height:42px;

  border-radius:14px;

  border:1px solid #2e3658;

  background:#171c2f;

  color:#9aa3c7;

  font-size:15px;

  font-weight:700;

  transition:0.3s ease;

  display:flex;

  align-items:center;

  justify-content:center;
}

.pagination-btn:hover:not(:disabled){

  background:#6d5dfc;

  border-color:#6d5dfc;

  color:white;

  transform:translateY(-2px);

  box-shadow:
    0px 0px 18px rgba(109,93,252,0.35);
}

.pagination-btn.active{

  background:#6d5dfc;

  border-color:#6d5dfc;

  color:white;

  box-shadow:
    0px 0px 18px rgba(109,93,252,0.35);
}

.pagination-btn:disabled{

  opacity:0.45;

  cursor:not-allowed;
}

/* ADD TASK */

.add-task-container{

  display:flex;

  justify-content:center;

  padding:40px;
}

.add-task-card{

  width:700px;

  background:#171c2f;

  border:1px solid #2a3150;

  border-radius:28px;

  padding:35px;
}

.add-task-card h1{

  margin-bottom:30px;

  font-size:34px;

  font-weight:800;
}

.add-task-card label{

  display:block;

  margin-bottom:10px;

  color:#8b90a7;

  font-size:15px;

  font-weight:600;
}

.add-task-card input,
.add-task-card select{

  width:100%;

  background:#1d2238;

  border:1px solid #30385d;

  border-radius:16px;

  padding:18px;

  color:white;

  font-size:16px;

  margin-bottom:24px;
}

/* LOADER */

.loader-container{

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  padding:70px;
}

.loader{

  width:70px;

  height:70px;

  border:7px solid #2a3150;

  border-top:7px solid #6d5dfc;

  border-radius:50%;

  animation:spin 1s linear infinite;

  margin-bottom:20px;
}

@keyframes spin{

  0%{
    transform:rotate(0deg);
  }

  100%{
    transform:rotate(360deg);
  }
}

/* FOOTER */

.footer{

  margin-top:50px;

  background:#0a0f1f;

  border-top:1px solid #1f2940;

  padding:35px;

  text-align:center;
}

.footer h3{

  margin-bottom:10px;

  font-size:18px;
}

.footer p{

  color:#8b90a7;
}

/* RESPONSIVE */

@media(max-width:992px){

  .task-grid{

    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:768px){

  .navbar{

    flex-direction:column;

    height:auto;

    gap:18px;

    padding:20px;
  }

  .nav-links-center{

    position:static;

    transform:none;

    flex-wrap:wrap;

    justify-content:center;
  }

  .search-filter{

    flex-direction:column;
  }

  .task-grid{

    grid-template-columns:1fr;
  }

  .welcome-card h1{

    font-size:34px;
  }

  .login-card{

    width:90%;
  }

  .add-task-card{

    width:95%;
  }

  .home{

    padding:20px;
  }
}